html {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header {
    position: fixed;
    z-index: 5;
    width: 100%;
    display: flex;
    border-bottom: 1px solid seashell;
    height: 69px;
    align-items: center;
    background-color: black;
    top: 0;
    left: 0;
    padding: 5px 10px;
    margin: 0;
}

#brand {
    flex-grow: 1;
}

#logo {
    display: flex;
    height: 50px;
}

.main {
    position: relative;
    top: 70px;
}

nav {
    padding-right: 10px;
}

nav span a {
    color: seashell;
    padding: 10px;
}



#mission {
    display: flex;
    background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg');
    height: 700px;
    width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#banner {
    display: flex;
    background-color: black;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#banner h2, #banner h4{
    margin: 10px;
}
